arxiv
bitsandbytes
catboost
colorama
faiss-cpu
fastapi
huggingface-hub
uvicorn
joblib
langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-xai
langgraph
langgraph-checkpoint-sqlite
matplotlib
numpy
optuna
pandas
pdf2image
pydantic
pymupdf
pymupdf4llm
pytesseract
requests
scikit-learn
scipy
seaborn
sentence-transformers
streamlit
tavily-python
torch
torchaudio
torchensemble
torchsummary
tqdm
wikipedia
xgboost
langchain-core
